body{
    background-color: hsla(240, 2%, 87%, 0.678);
    /* color: white; */
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

a{
  color: hwb(241 4% 7%); 
  text-decoration: none;
}

.name-container{
    font-size: 1.5rem;
    line-height: 70%;
    letter-spacing: 3px;
}

.name-container,.section-heading, .contact-me-heading{
    color: hsla(202, 60%, 40%, 0.9);
}

.job-title{
    letter-spacing: 0px;
}

.name-container > span{
    font-size: 1rem;
}


.section-heading{
    text-align: center;
    text-shadow: 1px 1px hsl(202, 60%, 40%, 0.9);
}

button{
    background-color: hsla(73, 78%, 53%, 0.9);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    letter-spacing: 1px;
}